* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Comic Sans MS, Comic Sans, 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
  ;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

::selection {
  background: #fa709a;
  color: #fff;
}

.container {
  max-width: 90%;
  width: 700px;
  height: auto;
}

.accordion {
  width: 100%;
  height: auto;
  // border: 4px solid #d9edee;
  background-image: linear-gradient(to right, #fddb92 0%, #d1fdff 100%);
  border-radius: 1rem;
  overflow: hidden;

  .topic {
    // 背景
    padding: 2.5%;
    // 文字
    text-align: center;
    color: #fff;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    // 動態
    transition: 0.3s;

    &:hover {
      background: #fa7099d3;
      cursor: pointer;
    }
  }

  .openToggle {
    // 背景
    overflow: hidden;
    height: 0;
    // 文字
    text-align: center;
    color: #989898;
    // 動態
    transition: 0.5s;
  }

  .content {
    padding: 2.5%;
  }
}