@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Comic Sans MS, Comic Sans, 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
}

::-moz-selection {
  background: #fa709a;
  color: #fff;
}

::selection {
  background: #fa709a;
  color: #fff;
}

.container {
  max-width: 90%;
  width: 700px;
  height: auto;
}

.accordion {
  width: 100%;
  height: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#fddb92), to(#d1fdff));
  background-image: linear-gradient(to right, #fddb92 0%, #d1fdff 100%);
  border-radius: 1rem;
  overflow: hidden;
}

.accordion .topic {
  padding: 2.5%;
  text-align: center;
  color: #fff;
  text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.accordion .topic:hover {
  background: #fa7099d3;
  cursor: pointer;
}

.accordion .openToggle {
  overflow: hidden;
  height: 0;
  text-align: center;
  color: #989898;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.accordion .content {
  padding: 2.5%;
}
